<div class=" h-full text-center">
  <div class="pt-4">
    <div class="px-2">
      <h1 class="py-4">{{ (isEdit ? "screenName.editCampaign" : "screenName.createCampaign") | trans }}</h1>
    </div>

    <div class="flex">
      <div class="column col-sm-12 col-md-7 col-lg-7 col-xl-7 col-7 col-mx-auto">
        <form class="" [formGroup]="form">
          <mat-form-field class="full-width mb-1" appearance="outline">
            <mat-label>{{"campaignManagement.title" | trans}}</mat-label>
            <input matInput [placeholder]="'campaignManagement.title' | trans" formControlName="title" type="text" />
            <mat-error>
              <app-validation-error [control]="form?.controls?.title">
              </app-validation-error>
            </mat-error>
          </mat-form-field>
          <div>
            <mat-form-field class="full-width mb-1" appearance="outline">
              <mat-label>{{"campaignManagement.subTitle" | trans}}</mat-label>
              <textarea matInput [placeholder]="'campaignManagement.subTitle' | trans" formControlName="subTitle"
                class="resize-y" rows="3"></textarea>
              <mat-error>
                <app-validation-error [control]="form?.controls?.subTitle">
                </app-validation-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="full-width mb-1" appearance="outline">
              <mat-label>{{"campaignManagement.location" | trans}}</mat-label>
              <input matInput [placeholder]="'campaignManagement.location' | trans" formControlName="location"
                type="text" />
              <mat-error>
                <app-validation-error [control]="form?.controls?.location">
                </app-validation-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="space-x-2 flex">
            <mat-form-field class="flex-initial haft-width" appearance="outline">
              <mat-label>{{
                "campaignManagement.mainCategory" | trans
                }}</mat-label>
              <mat-select required formControlName="mainCategory"
                (selectionChange)="handleChangeMainCategory($event.value)">
                <mat-option *ngFor="let category of mainCategories$ | async" [value]="category">
                  {{ category?.name }}
                </mat-option>
              </mat-select>
              <mat-error>
                <app-validation-error [control]="form?.controls?.mainCategory"></app-validation-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="flex-initial haft-width" appearance="outline">
              <mat-label>{{
                "campaignManagement.subCategory" | trans
                }}</mat-label>
              <mat-select formControlName="categoryId">
                <mat-option *ngFor="let category of form?.value?.mainCategory?.subCategories" [value]="category?._id">
                  {{ category?.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="flex space-x-2">
            <mat-form-field appearance="outline" class="haft-width">
              <mat-label>{{
                "campaignManagement.fundingGoal" | trans
                }}</mat-label>
              <input matInput required maxlength="9" formControlName="fundingGoal" (keypress)="numberOnly($event)"
                CopyPasteBlock autocomplete="off" (input)="onChangeFundingGoal()" />
              <span matSuffix>$</span>
              <mat-error>
                <app-validation-error [control]="form?.controls?.fundingGoal"></app-validation-error>
              </mat-error>
            </mat-form-field>

            <div class="flex flex-col align-items-start mb-2 mt-1 haft-width">
              <p class="font-normal">{{
                "campaignManagement.campaignImage" | trans
                }}</p>
              <div *ngIf="!isEdit">
                <input type="file" id="fileInput" name="fileInput" accept="image/*" (change)="selectFile($event)" />
              </div>
              <div *ngIf="isEdit" class="flex items-center">
                <input type="file" accept="image/*" name="editFileInput" class="hidden" #file
                  (change)="upload(file.files)">
                <button mat-button (click)="file.click()" color="primary">Upload Image</button>
                <p (click)="showImage(form?.value?.image)" [matTooltip]="'Click to view campaign image'"
                  matTooltipPosition="above" class="cursor-pointer underline text-blue-500 hover:text-blue-700 ml-2">
                  Show
                  image</p>
              </div>
            </div>
          </div>
          <div class="flex space-x-2">
            <mat-form-field appearance="outline" class="haft-width">
              <mat-label>{{'campaignManagement.duration' | trans}}</mat-label>
              <input matInput [matDatepicker]="picker" [placeholder]="'campaignManagement.duration' | trans"
                formControlName="duration">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="haft-width">
              <mat-label>{{'campaignManagement.targetLaunchDate' | trans}}</mat-label>
              <input matInput [matDatepicker]="picker2" [placeholder]="'campaignManagement.targetLaunchDate' | trans"
                formControlName="targetLaunchDate">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="full-width quill-container" appearance="outline">
            <quill-editor formControlName="story" [modules]="quillConfig"
              [placeholder]="'campaignManagement.story' | trans" classes="basic-text-editor" class="ql-wrapper"
              [styles]="quillStyles"></quill-editor>
          </div>
          <div class="full-width quill-container risk-container mt-3 mb-3" appearance="outline">
            <quill-editor formControlName="risk" [modules]="quillConfig"
              [placeholder]="'campaignManagement.risks' | trans" classes="basic-text-editor" class="ql-wrapper"
              [styles]="quillStyles"></quill-editor>
          </div>
          <div class="flex flex-col mb-2">
            <div class="flex">
              <button color="warn" mat-raised-button (click)="handleAddDocument()">
                {{"button.addDocument" | trans}}
              </button>
            </div>
            <mat-list role="list">
              <ng-container *ngFor="let item of documents$ | async; let idx = index">
                <mat-list-item role="listitem">
                  <div class="flex justify-between grow">
                    <a class="font-normal cursor-pointer underline text-blue-500 hover:text-blue-700" [href]="item?.url"
                      [matTooltip]="item?.description" matTooltipPosition="above">{{item?.name}}</a>
                  </div>
                  <div>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="action">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="handleEditDocument(item, idx)">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                      </button>
                      <button mat-menu-item (click)="handleDeleteDocument(idx)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                      </button>
                    </mat-menu>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
              </ng-container>
              <ng-container *ngIf="!(documents$ | async)?.length">
                <div class="text-left">*/Add documents related to your campaign</div>
              </ng-container>
            </mat-list>
          </div>
          <div class="flex flex-col mb-2">
            <div class="flex">
              <button color="warn" mat-raised-button (click)="handleAddMilestone()" class="mb-2">
                {{"button.addMilestone" | trans}}
              </button>
            </div>
            <mat-vertical-stepper [linear]="true" #stepper>
              <ng-template matStepperIcon="edit" let-index="index">
                {{index + 1}}
              </ng-template>
              <mat-step *ngFor="let milestone of milestones$ | async; let i = index" [completed]="true">
                <ng-template matStepLabel>
                  <p (click)="handleEditMilestone(milestone, i)">{{milestone?.title}}</p>
                </ng-template>
                <div class="flex flex-col">
                  <span class="milestone-label">Amount: <h5 class="milestone-value">{{milestone?.amount}}$</h5>
                  </span>
                  <div class="milestone-label">Description: <h5 class="milestone-value">{{milestone?.description}}</h5>
                  </div>
                  <div class="milestone-label">Estimate Deadline: <h5 class="milestone-value">
                      {{milestone?.estimateDeadline | date:
                      'mediumDate'}}</h5>
                  </div>
                </div>
              </mat-step>
            </mat-vertical-stepper>
            <ng-container *ngIf="!(milestones$ | async)?.length">
              <div class="text-left">*/Setup milestones of the campaign</div>
            </ng-container>
            <ng-container *ngIf="!(milestones$ | async)?.length">
              <div class="text-left">*/Add a video to describe the campaign in detail</div>
            </ng-container>
          </div>
          <div>
            <button class="w-1/3" color="primary" mat-raised-button (click)="submit()" [disabled]="form?.invalid">
              {{"button.submit" | trans}}
            </button>
          </div>
        </form>
      </div>

      <div class="ml-4 column col-5">
        <div class="flex justify-end mb-6">
          <button color="warn" mat-raised-button (click)="handleAddReward()">
            {{"button.newReward" | trans}}
          </button>
        </div>

        <div class="reward-list flex flex-col">
          <app-reward-card *ngFor="let reward of rewards$ | async; let i = index" [reward]="reward" class="reward-item"
            [isCanEdit]="true" (handleRemove)="onRemove($event, i)" (handleEdit)="onEdit($event, i)"></app-reward-card>
        </div>
      </div>
    </div>

  </div>
</div>
