<div class="flex flex-col p-8">
  <form [formGroup]="commentForm">
    <mat-form-field appearance="outline" class="w-8/12 pr-4">
      <mat-label>{{"input.yourComment" | trans}}</mat-label>
      <textarea matInput #commentInput formControlName="comment" (ngModelChange)="textIsEmpty($event)"
        [matTextareaAutosize]="true" class="resize-y" rows="5"></textarea>
    </mat-form-field>
    <button [disabled]="textValue === ''" mat-raised-button color="primary" (click)="onComment()">
      {{ "button.addComment" | trans }}
    </button>
  </form>
</div>
