$breakpoint_tablet_smartphone: 1024px;

.dialog_content {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.mat-dialog-content {
  flex-grow: 100;
  flex-shrink: 100;
  max-height: 65vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $breakpoint_tablet_smartphone - 1) {
    max-height: initial !important;
    max-height: auto !important;
    margin-top: 20px !important;
    align-items: flex-start;
  }
}

::ng-deep .mat-dialog-actions {
  flex-direction: row;
  margin-bottom: 0;
  margin-top: 20px;

  .mat-raised-button {
    width: 9rem;
    padding: 0 0.5rem;
  }
}

:host ::ng-deep {
  @media screen and (max-width: $breakpoint_tablet_smartphone - 1) {
    .mat-dialog-actions {
      min-height: 0;
      flex-wrap: nowrap;
      flex-grow: 1;
      flex-shrink: 0;

      .mat-raised-button {
        &.large {
          width: 15rem;
        }
      }
    }

    .align-button-vertical {
      flex-direction: column;
      justify-content: center;

      .mat-raised-button {
        margin: 0.5rem 0;
      }
    }
  }
}

@media only screen and (min-width: $breakpoint_tablet_smartphone) {
  ::ng-deep .mat-dialog-container {
    height: auto;
  }
}

::ng-deep app-dialog {
  display: flex;
  flex-direction: column;
  height: 100%;

  .action-buttons {
    text-align: center;
    overflow: hidden;
    width: 100%;
  }
}

.dialog-content-scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
}

.mat-dialog-title,
.mat-dialog-content,
.dialog-footer {
  color: black;
}

.mat-dialog-title,
.dialog-footer {
  text-transform: uppercase;
}

.dialog-header.no-title {
  border: none;
  height: 35px;
}

.dialog-header {
  position: relative;
  border-bottom: 1px solid #ff674e;
  margin-bottom: 15px;
}

.dialog-header h3 {
  font-size: 15px !important;
  margin-bottom: 10px !important;
}

.dialog-header button {
  position: absolute;
  right: 0;
  top: 0;
}

.mat-dialog-content {
  margin: 0 !important;
  padding: 0 !important;
  overflow: initial !important;
  max-height: unset !important;
}

.mat-dialog-content button {
  margin-top: 1.5em;
  text-transform: uppercase;
  padding-left: 3em;
  padding-right: 3em;
}

.dialog-footer {
  text-align: center;
}

.dialog-footer button {
  margin: 2em 0;
  text-transform: uppercase;
}

.dialog-note {
  margin: 1rem 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: black;
}

@media only screen and (max-width: 600px) {
  .dialog-note {
    text-align: center;
    color: black;
    margin-top: 30px;
    margin-bottom: 0;
  }
}

.dialog-note:empty {
  display: none;
}

.mat-dialog-actions {
  min-height: auto;
}

.dialog_title {
  font-size: 18px !important;
}
