@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";



button {
  &:focus {
    outline: 0;
  }
}

a,
.clickable {
  outline: none;
}

.clickable {
  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
}

/* Display */
.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-table {
  display: table;
}

.d-table-row {
  display: table-row;
}

.d-table-cell {
  display: table-cell;
}

/* Width and Height */
.w-full {
  width: 100% !important;
}

.w-1\/12 {
  width: 8.333333%;
}

.w-2\/12 {
  width: 16.666667%;
}

.w-5\/12 {
  width: 41.666667%;
}

.w-1 {
  width: 0.25rem;
}

.w-2 {
  width: 0.5rem;
}

.w-3 {
  width: 0.75rem;
}

.w-4 {
  width: 1rem;
}

.w-8 {
  width: 2rem;
}

.w-16 {
  width: 4rem;
}

.h-full {
  height: 100%;
}

.h-1 {
  width: 0.25rem;
}

.h-2 {
  width: 0.5rem;
}

.h-3 {
  width: 0.75rem;
}

.h-4 {
  width: 1rem;
}

.h-8 {
  width: 2rem;
}

.h-16 {
  width: 4rem;
}
/* Other */
.table-fixed {
  table-layout: fixed;
}

.border-separate {
  border-collapse: separate;
}

.align-middle {
  vertical-align: middle;
}

.pos-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.invisible {
  width: 0;
  height: 0;
  opacity: 0;
}

.font-m {
  font-size: 12px;
}

.bold {
  font-weight: bold;
}

.heavy {
  font-weight: 500;
}

.no-border {
  border: none !important;
}

.no-border-bottom {
  border-bottom: none !important;
}

.border-right {
  border-right: solid 1px rgba(0, 0, 0, 0.12);
}

.no-wrap {
  white-space: nowrap;
}

.no-underline {
  text-decoration: none;
}

.full-width {
  width: 100% !important;
}

.haft-width {
  width: 50% !important;
}

.full-height {
  height: 100% !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-column {
  flex-direction: column;
}

.flex-row-reverse{
  flex-direction: row-reverse;
}

.content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-top-s {
  margin-top: 30px !important;
}

.uppercase {
  text-transform: uppercase;
}

.cap {
  text-transform: capitalize;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-full {
  border-radius: 9999px;
}

.overflow-hidden {
  overflow: hidden;
}

.object-cover {
  object-fit: cover;
}

.bg-sidenav-childitem {
  background-color: $sidenav-background-lighten;
}

/* sidenav */
.main-sidenav {
  background: $sidenav-background;
  width: 240px;
  color: $text-light;

  .mat-list-item {
    color: $text-light;
  }

  &.minimize {
    width: auto;

    .logo-main-text,
    .menu-title,
    .menu-item-toggler {
      display: none;
    }
  }

  &:not(.minimize) {
    .mat-list-item {
      &.level-2 .mat-list-item-content {
        padding-left: 40px;
      }
    }
  }
}

.padding-flow-mat-input {
  padding-bottom: 1.34375em;
}

// hide arrow tree
button.datatable-tree-button.ng-star-inserted:disabled {
  display: none;
}

.form-search {
  display: flex;

  .mat-form-field {
    margin-right: 10px;
  }
}

.form-search-homepage {
  display: flex;

  .mat-form-field {
    margin-right: 10px;
    width: 44em;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }

  input.mat-input-element {
    color: white;
  }

  .mat-form-field-empty.mat-form-field-label {
    color: white;
  }

  .mat-form-field-placeholder {
    color: white;
  }

  .mat-focused .mat-form-field-placeholder {
    color: white;
  }

  .mat-focused .placeholder {
    color: white;
  }

  mat-label {
    color: white;
  }

  input {
    background-color: #0c86c7 !important;
    color: white;
    caret-color: white !important;
  }

  .cdk-text-field-autofilled {
    background-color: red !important;
  }

  .mat-form-field-infix {
    input {
      background-color: #0c86c7 !important;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .search_wrapper {
    margin: 0 10px;

    .form-search-homepage {
      display: flex;

      .mat-form-field {
        width: 28em;
      }
    }
  }
}

.table-header {
  font-size: 14px !important;
  color: black !important;
  font-weight: 500 !important;
}

.blackBorder {
  border: 1px solid black !important;
  box-sizing: border-box !important;
  background-color: white !important;
  color: black !important;
}

.primaryBorder {
  border: 2px solid $primary-color !important;
}

button[disabled] {
  cursor: not-allowed;
}

.material-icons.color_yellow {
  color: #ffd700;
}

.material-icons.color_gray {
  color: #d2d2d2;
}

.main_layout {
  background-color: #f5f5f5;
  min-height: 100vh;
}

.main_header {
  background-color: #0c86c7;
  color: white !important;
}

.product-description {
  ol {
    list-style: decimal;
    padding-left: 15px;
  }

  ul {
    list-style: disc;
    padding-left: 15px;
  }
}

.mat-raised-button.mat-primary-color {
  color: #f0fff3;
  background-color: #007bff;
}

.mat-raised-button.mat-success-color {
  color: #f0fff3;
  background-color: #28a745;
}

.mat-icon-button.mat-danger-color {
  color: #dc3545;
}

.custom-snackbar {
  margin: 0 !important;
  position: absolute;
  right: 25px;
  top: 80px;
}

.link {
  color: revert;
  text-decoration: revert;
}

/* Margin variant */
@include applyMargin(1, 0.25rem);
@include applyMargin(2, 0.5rem);
@include applyMargin(3, 0.75rem);
@include applyMargin(4, 1rem);
@include applyMargin(8, 2rem);
@include applyMargin(16, 4rem);

/* Padding variant */
@include applyPadding(1, 0.25rem);
@include applyPadding(2, 0.5rem);
@include applyPadding(3, 0.75rem);
@include applyPadding(4, 1rem);
@include applyPadding(8, 2rem);
@include applyPadding(16, 4rem);
@include applyPadding(9\/16, 56.25%);

.campaign-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.campaign-image-container {
  width: 850px;
  height: 400px;
}

.align-items-start {
  align-items: flex-start;
}

.align-center {
  margin: 0 auto;
}

.image {
  height: 400px;
  object-fit: fill;
  border-radius: 4px;
}

.avatar {
  height: 60px;
  width: 60px;
}

.avatar-sm {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.resolved-comment {
  font-style: italic;
  color: grey
}
