.main-sidenav {
  background: #253b80;
  width: 240px;
  color: #fff;

  .mat-list-item {
    color: #fff;
  }

  &.minimize {
    width: auto;

    .logo-main-text,
    .menu-title,
    .menu-item-toggler {
      display: none;
    }
  }

  &:not(.minimize) {
    .mat-list-item {
      &.level-2 .mat-list-item-content {
        padding-left: 40px;
      }
    }
  }
}

.sidenav-container {
  height: 100%;
}

.logo {
  font-weight: 500;
  height: 64px;
  display: flex;
  padding-left: 8px;
  align-items: center;
  text-decoration: none;
}

.logo-icon {
  background: #ffffff;
  color: #22144c;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  .mat-icon {
    font-size: 30px;
    width: 30px;
    height: 30px;
    margin-bottom: 2px;
  }
}

.logo-text {
  display: flex;
  flex-flow: column;
  line-height: 1;
  justify-content: center;
  margin-left: 7px;
  .logo-sub-text {
    font-size: 12px;
    margin-top: 3px;
  }
}

.mat-list-base .mat-list-item {
  font-size: 14px;
}

:host ::ng-deep .mat-list-item {
  background: transparent;
  height: unset !important;
  min-height: 48px;

  .mat-list-item-content {
    min-height: inherit;
  }

  &.level-2 {
    .mat-list-item-content {
      background-color: #354a8b;
    }
  }

  &.active {
    .mat-list-item-content {
      background-color: #0b2576;
    }
  }
}
