<app-dialog [dialogTitle]="
    (data?.isEdit
      ? 'campaignManagement.editReward'
      : 'campaignManagement.addReward'
    ) | trans" [displayButton]="false">
  <div dialog-body>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{ "campaignManagement.title" | trans}}</mat-label>
        <input matInput formControlName="title" type="text" required>
        <mat-error>
          <app-validation-error [control]="form.controls.title"></app-validation-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{ "campaignManagement.description" | trans}}</mat-label>
        <input matInput formControlName="description" type="text" required>
        <mat-error>
          <app-validation-error [control]="form.controls.description"></app-validation-error>
        </mat-error>
      </mat-form-field>

      <div class="flex justify-between items-center">
        <mat-form-field class="haft-width" appearance="outline">
          <mat-label>{{ "campaignManagement.amount" | trans}}</mat-label>
          <input matInput required maxlength="9" formControlName="amount" (keypress)="numberOnly($event)" CopyPasteBlock
            autocomplete="off" />
          <span matSuffix>$</span>
          <mat-error>
            <app-validation-error [control]="form.controls.amount"></app-validation-error>
          </mat-error>
        </mat-form-field>
        <div class="">
          <button color="accent" mat-raised-button (click)="handleAddItem($event)"
            [disabled]="itemsOffering.controls.length === limitItems">
            {{"button.newItem" | trans}}
          </button>
        </div>
      </div>

      <!-- <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{'campaignManagement.estimateDelivery' | trans}}</mat-label>
        <input matInput [matDatepicker]="dp" [formControlName]="'estimateDelivery'" />
        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp startView="multi-year" (monthSelected)="setMonthAndYear($event, dp)"
          panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field> -->

      <div formArrayName="itemsOffering">
        <div *ngFor="let control of itemsOffering.controls; index as i" [formGroupName]="i"
          class="flex justify-between">
          <mat-form-field class="item-name-form" appearance="outline">
            <mat-label>{{ "campaignManagement.itemOffering" | trans}}</mat-label>
            <input matInput [formControlName]="'name'" placeholder="Item" matAutocompletePosition="below"
              [matAutocomplete]="auto" #autoCompleteInput>
            <mat-icon matSuffix color="warn" (click)="removeItem(i)" class="cursor-pointer">close</mat-icon>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let existedItem of  campaignDetailService.itemsOfferingValue" [value]="existedItem">
                {{ existedItem }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="item-quantity-form">
            <input matInput [formControlName]="'quantity'" [placeholder]="'campaignManagement.quantity' | trans"
              required maxlength="9" (keypress)="numberOnly($event)" CopyPasteBlock autocomplete="off">
          </mat-form-field>
        </div>
      </div>
      <div class="space-x-2 flex justify-center mt-4">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
          {{ (data?.isEdit ? "button.save" : "button.add") | trans }}
        </button>
        <button mat-stroked-button color="primary" type="button" (click)="handleClose()">
          {{ "button.cancel" | trans }}
        </button>
      </div>
    </form>
  </div>
</app-dialog>
