.item-name-form {
  width: 70%;
}

.item-quantity-form {
  width: 20%;
  padding-top: 10px;
}

.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}

