<mat-toolbar>
  <div class="container">
    <mat-list role="list">
      <mat-list-item role="listitem" [matMenuTriggerFor]="link3" matRipple>
        <span class="category">Link 3</span>
        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_drop_down</mat-icon>
        <mat-menu #link3="matMenu">
          <button mat-menu-item>Sub Link 3.1</button>
          <button mat-menu-item>Sub Link 3.2</button>
        </mat-menu>
      </mat-list-item>
      <mat-list-item role="listitem">Link 4</mat-list-item>
      <mat-list-item role="listitem">Link 5</mat-list-item>
    </mat-list>
  </div>
</mat-toolbar>
