<div class="search_wrapper flex flex-col">
  <div class="flex w-10/12">
    <form class="flex form-search-homepage text-white" [formGroup]="form">
      <mat-form-field appearance="outline" class="no-padding-input-field">
        <mat-label>{{ "input.search" | trans }}</mat-label>
        <input matInput [placeholder]="'productManagement.searchPlaceholder' | trans" formControlName="searchInput"
          name="searchInput" class="placeholder-white" />
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
      <div class="flex items-center">
        <button mat-raised-button (click)="handleSearch()">
          {{ "button.search" | trans }}
        </button>
      </div>
    </form>
  </div>
</div>
