<div class="login_page h-full text-center">
  <div class="mt-10">
    <div class="login_page_title px-2">
      <h1>Login</h1>
    </div>
    <div class="login_page_form column col-sm-12 col-md-6 col-lg-4 col-xl-4 col-4 col-mx-auto">
      <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="signIn()">
        <mat-form-field class="full-width mb-1" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" name="email" type="text" />
          <mat-error>
            <app-validation-error [control]="loginForm?.controls?.email">
            </app-validation-error>
          </mat-error>
        </mat-form-field>
        <div>
          <mat-form-field class="full-width mb-1" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" formControlName="password" name="password" type="password" />
            <mat-error>
              <app-validation-error [control]="loginForm?.controls?.password">
              </app-validation-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <button class="w-1/3" color="primary" mat-raised-button type="submit" [disabled]="loginForm?.invalid">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
