<app-page-header [title]="'screenName.listCampaign' | trans">
</app-page-header>
<form class="form-search flex" [formGroup]="formSearch">
  <mat-form-field appearance="outline">
    <mat-label>{{ "input.search" | trans }}</mat-label>
    <input matInput [placeholder]="'campaignManagement.searchPlaceholder' | trans" formControlName="title" />
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>

  <div class="flex items-center padding-flow-mat-input">
    <button mat-raised-button color="primary" (click)="handleSearch()" class="mr-3">
      {{ "button.search" | trans }}
    </button>
    <button mat-raised-button (click)="handleReset()" class="blackBorder">
      {{ "button.clear" | trans }}
    </button>
  </div>
</form>
<div class="mx-auto">
  <ngx-datatable appNgxDatatableEmptyRow class="material striped fullscreen horizontal-scroll-table"
    [rowClass]="getRowClass" [columnMode]="ColumnMode.force" [rows]="dataSourceObs | async" [headerHeight]="50"
    [footerHeight]="50" rowHeight="auto" [scrollbarH]="true">
    <ngx-datatable-column prop="title" [name]="'campaignManagement.title' | trans" [resizeable]="false"
      [sortable]="false" headerClass="table-header 2xl:ml-20" cellClass="2xl:ml-20 ">
    </ngx-datatable-column>

    <ngx-datatable-column prop="category" headerClass="table-header" [resizeable]="false" [sortable]="false"
      [name]="'campaignManagement.category' | trans">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <p>{{row?.category?.name}}</p>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="fundingGoal" [name]="'campaignManagement.fundingGoal' | trans" [resizeable]="false"
      [sortable]="false" headerClass="table-header 2xl:ml-20" cellClass="2xl:ml-20 ">
    </ngx-datatable-column>

    <ngx-datatable-column prop="createdBy" headerClass="table-header" [resizeable]="false" [sortable]="false"
      [name]="'campaignManagement.creator' | trans">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <p>{{row?.createdBy?.name}}</p>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="createdAt" headerClass="table-header" [resizeable]="false" [sortable]="false"
      [name]="'campaignManagement.createdTime' | trans">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <p>{{row?.createdAt | date: dateTime}}</p>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="status" headerClass="table-header" [resizeable]="false" [sortable]="false"
      [name]="'campaignManagement.status' | trans">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <mat-chip-list>
          <mat-chip color="primary">
            {{row?.status}}
          </mat-chip>
        </mat-chip-list>

      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [name]="'button.action' | trans" [resizeable]="false" [sortable]="false"
      headerClass="table-header">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button mat-icon-button [matTooltip]="'button.detail' | trans" matTooltipPosition="above" color="primary"
          aria-label="Edit" (click)="redirectDetail(row)" class="detail-btn">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
