@import "styles/mixins.scss";
@import "styles/grid.scss";
@import "styles/theme.scss";
@import "styles/variables.scss";
@import "styles/global.scss";
@import "styles/overwrite.scss";

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert;
  font-weight: revert;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafbfe;
  color: #6c757d;
}
